<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <php>
    </php>
    <testsuites>
        <testsuite name="S-Money PHP client">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>